{% extends './layout.njk' %}
{% block content %}
    <div class="spectrum-Site">
        {# include 'header.njk' #}
        <div class="spectrum-Site-content">
            {% include "sidenav.njk" %}
            <!-- <div class="spectrum-Site-mainContent">
                <div class="spectrum-Site-mainContainer">
                    <div class="spectrum-Site-page spectrum-Typography">
                        {{ content | safe }}
                    </div>
                </div>
                {% include 'footer.njk' %}
            </div> -->
        </div>
    </div>
    {# include 'pageBottom.njk' #}
{% endblock %}
