.spectrum--express {
  --system-spectrum-rating-icon-color-default:var(--spectrum-neutral-content-color-default);
  --system-spectrum-rating-icon-color-hover:var(--spectrum-neutral-content-color-hover);
  --system-spectrum-rating-icon-color-down:var(--spectrum-neutral-content-color-down);
  --system-spectrum-rating-icon-color-key-focus:var(--spectrum-neutral-content-color-key-focus)
}

.spectrum-Rating {
  --spectrum-rating-icon-color-default: var(--system-spectrum-rating-icon-color-default);
  --spectrum-rating-icon-color-hover: var(--system-spectrum-rating-icon-color-hover);
  --spectrum-rating-icon-color-down: var(--system-spectrum-rating-icon-color-down);
  --spectrum-rating-icon-color-key-focus: var(--system-spectrum-rating-icon-color-key-focus)
}
