.spectrum {
  --system-spectrum-clearbutton-spectrum-clear-button-background-color:transparent;
  --system-spectrum-clearbutton-spectrum-clear-button-background-color-hover:transparent;
  --system-spectrum-clearbutton-spectrum-clear-button-background-color-down:transparent;
  --system-spectrum-clearbutton-spectrum-clear-button-background-color-key-focus:transparent
}
